body{
    margin: 0;
}
.banner-section{
    border: 1px solid black;
    width: 1321px;
    height: 646px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: black;
    display: flex;
    padding-left: 30px;
}
.banner-info{
    margin-top: 50px;
    width: 50%;
    color: aliceblue;

}
.banner-info h1{
    font-size: 70px;
    font-weight: 900;
    font-family: 'poppins';
}
.banner-img img{
    width: 581px;  
    height: 613px;
}